*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Varela+Round&display=swap);

body {
  font-family: 'Varela Round', sans-serif;
  overflow-x: hidden;
}
img{
  user-select: none;
}